= render Vacancy::Component::TotalVacancies.new(total_vacancies: @total_vacancies)

= render Vacancy::Component::SearchBar.new(query: @query, exclude: @exclude, count: @vacancies.total_entries)

= render Vacancy::Component::Index.new(vacancies: @vacancies, applies_by_vacancy: @applies_by_vacancy)
