= header(**header_opts)
- if signed_in?
  = Apply::TurboHandler::StatusUpdate.stream_from(@vacancy, current_user, helpers)

= render Vacancy::Component::InfoCard.new(vacancy: @vacancy, apply: @apply, expanded: @expanded, expand_url: expand_url, collapse_url: collapse_url)
