.flex.flex-col.gap-2.sm:flex-row.sm:flex-wrap *data_test_id('apply-actions')
  - buttons.each do |button|
    - html = { data: button[:data], target: button[:target], rel: button[:rel] }.compact
    = link(url: button[:url], variant: button[:variant], class: 'w-full justify-center gap-2 sm:w-auto', **html) do
      - if button[:icon]
        = icon(button[:icon], size: 4)
      = I18n.t("apply.actions.#{button[:key]}")
