= turbo_form_modal( \
    model: @apply, \
    endpoint: @apply, \
    header_text: I18n.t('apply.new.title'), \
    submit_text: I18n.t('apply.new.submit')) do |modal|

  = modal.form.hidden_field :vacancy_id

  .space-y-4
    = modal.form.input :source_profile_id, \
        as: :select, \
        wrapper: :select, \
        collection: current_user.source_profiles.includes(:source).where(source_id: @apply.vacancy&.source_id), \
        label_method: proc { |sp| "#{sp.source.name} (#{sp.name})" }, \
        value_method: :id, \
        include_blank: I18n.t('apply.new.form.select_source_profile'), \
        label: I18n.t('apply.new.form.source_profile'), \
        with_new_link: { \
          link: helpers.link_to(I18n.t('source_profile.new_link'),
                  helpers.new_source_profile_path(source_profile: { source_id: @apply.vacancy&.source_id }),
                  class: 'text-blue-600 underline hover:text-blue-700', data: { turbo_stream: true }), \
          option_component: 'SourceProfile::Component::SelectOption' \
        }

    = modal.form.input :user_profile_id, \
        collection: current_user.user_profiles, \
        label_method: :name, \
        value_method: :id, \
        include_blank: I18n.t('apply.new.form.select_profile'), \
        label: I18n.t('apply.new.form.user_profile')

    = modal.form.input :ai_integration_id, \
        collection: current_user.ai_integrations, \
        label_method: proc { |ai| "#{ai.provider.capitalize} (#{ai.model})" }, \
        value_method: :id, \
        include_blank: I18n.t('apply.new.form.select_integration'), \
        label: I18n.t('apply.new.form.ai_integration')
