= VacancyCv::TurboHandler::Index.frame_tag(@vacancy, helpers) do
  = VacancyCv::TurboHandler::Index.stream_from(@vacancy, page_user, helpers)
  - pending_vacancy_cvs.each do |vacancy_cv|
    = VacancyCv::TurboHandler::CvReady.stream_from(vacancy_cv, page_user, helpers)

  - if @cvs.any?
    .space-y-3
      - @cvs.each do |record|
        = render VacancyCv::Component::CvContent.new(record:)
  - else
    = empty_state(icon: :document_text, title: I18n.t('vacancy_cv.empty'), hint: I18n.t('vacancy_cv.empty_hint')) do
      = link(url: helpers.new_vacancy_vacancy_cv_path(@vacancy), variant: :primary, class: 'gap-2', \
          data: { turbo_stream: true }) do
        = icon(:sparkles, size: 4)
        = I18n.t('vacancy.show.generate_cv')
